form h1 {
    text-shadow: 1px 2px 2px white;
}

form h1:hover {
    text-shadow: none;
}

form.auth, form.reg {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue);
    padding: 10px;
}

form {
    box-shadow: 2px 2px 2px white;
    border-radius: 10px;
}

form input, form select{
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 1px black solid;
    outline: none;
    background-color: rgba(175, 175, 175, 0.24);
    color: black;
}

form input::placeholder {
    color: rgba(68, 52, 52, 0.514);
    transition: all 0.4s ease;
}

form input:focus {
    background-color: rgba(223, 223, 223, 0.377);
    color: white;
}

form input:focus::placeholder {
    color: rgb(68, 52, 52);
}

form input[type="submit"] {
    border: none;
    background-color: var(--darkblue);
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    box-shadow: 2px 2px 4px black;
    background-color: #3e759c;
    color: rgb(216, 216, 216);
}
